body{
	
	font-size: 25px;
	text-align: center;
	background-color:#ebebe3;
	margin: 0;
}

#form{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 20px;
letter-spacing: 3px;
}

.h1{
	font-family: 'Sacramento', cursive;
	font-size: 100px;

}

.input {
  width: 50%;
  border: 1px solid #2b2b28;
  border-radius: 4px;
 outline: none ! important;  
 height:25px;
 letter-spacing: 2px;

}

.input[type=text]:focus {
  border: 2px solid #555;
}

.submit {
	background-color: white;
	font-size: 24px;
	padding: 2px 70px;
	font-family: 'Sacramento', cursive;
	letter-spacing: 1px;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 transition: 0.3s;
cursor: pointer;
}

.submit:hover {opacity: 1}


.checkmark[type='checkbox']{
	font-size: 50px;
}
